@import 'src/styles/base.scss';

@mixin MainApp{
    .Main{
        &__Title{
            color: $white-1;
        }
        &__Pokemons{
            margin: 0;
            width: 100%;
            height: 100%;
            &_Container{
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;
    
    
                &-item{
                    animation: fade-in .5s ease-in-out;
                    border-radius: 1rem;
                }
            }
        }
    
        &__Button{
            background: $gold-1;
            color: $black-1;
            border-radius: 1rem;
            padding: 1rem;
            position: fixed;
            top: 0;
            right: 0;
            cursor: pointer;
            border: unset;
            outline: unset;
            transition: 150ms;
            &:hover{
                background: linear-gradient(to bottom, $gradient-1 ,$gradient-2);
                color: $white-1;
            }
            &:active{
                background: linear-gradient(to bottom, $gradient-1 , $white-1 100%, $gradient-2);
                color: $text-color;
            }
        }
    
    }
}

@include lg(){
    @include MainApp();
    .Main{
        &__Pokemons{
            &_Container{

                &-item{
                    min-width: 16rem;
                    max-width: 16rem;
                }
            }
        }
    }
}


@include md(){
    @include MainApp();
    .Main{
        &__Pokemons{
            &_Container{

                &-item{
                    min-width: 40vw;
                    max-width: 40vw;
                }
            }
        }
    }
}


@include sm(){
    @include MainApp();
    .Main{
        &__Pokemons{
            &_Container{
                align-items: center;
                &-item{
                    min-width: 80dvw;
                    max-width: 80dvw;
                }
            }
        }
        &__Button{
            padding: .5rem;
        }
    }
}