@import "src/styles/base.scss";

ion-content {
  --background: none;
  background: linear-gradient(to bottom, $gradient-1, $gradient-2);
  
  ion-grid {
    --ion-grid-padding: unset;
    --ion-grid-padding-xs: unset;
    --ion-grid-padding-sm: unset;
    --ion-grid-padding-md: unset;
    --ion-grid-padding-lg: unset;
    --ion-grid-padding-xl: unset;
    ion-row{
        display: flex;
        justify-content: center;
        gap: 1rem;
        ion-col {
            --ion-grid-column-padding: unset;
            --ion-grid-column-padding-xs: unset;
            --ion-grid-column-padding-sm: unset;
            --ion-grid-column-padding-md: unset;
            --ion-grid-column-padding-lg: unset;
            --ion-grid-column-padding-xl: unset;
            --ion-grid-columns: 12;
        }
    }
  }

  ion-button[slot="fixed"] {
    top: 0;
    right: 10rem;
    --background: #d4af37;
    color: $black-1;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    border: unset;
    outline: unset;
    transition: 150ms;
    &:hover {
      --background: linear-gradient(to bottom, $gradient-1, $gradient-2);
      color: $white-1;
    }
    &:active {
      --background: linear-gradient(
        to bottom,
        $gradient-1,
        $white-1 100%,
        $gradient-2
      );
      color: $text-color;
    }
  }
}

@mixin MainApp {
  .Main {
    &__Title {
      color: $white-1;
    }
  }
}

@include lg() {
  @include MainApp();
}

@include md() {
  @include MainApp();
}

@include sm() {
  @include MainApp();
}
